body {
      background-color: powderblue;
    }
    hr {
      border-style: none;
      border-top-style: dotted;
      border-color: red;
      border-width: 5px;
      
    }
h1 {

  color: darkviolet;

}

h2 {

  color: purple;

}

p {

  color: darkslateblue;

}

li {

  color: darkslateblue;

}

td {

  color: darkslategray;

}

th {

  color: darkslateblue;

}
